*{
    padding:0;
    margin:0;
    font-size: 62.5%;
}
body{
    background-color: #EFF0F4;
}
.wrap{
   /* position: relative;
    top:0;8*/
}
.head{
    background-color: #5FC0CD;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.head1{
    /*float: left;*/
    position: absolute;
    font-size: 2rem;

}
.head2{
    /*float: left;
    margin-left: 40%;*/
    font-size: 3rem;

}
.head3 {
    /*float: right;*/
    position: absolute;
    right: 1.5rem;
    top:1.5rem;
    font-size: 2rem;

}
form{
    background-color: white;
    padding: 1.5rem;
    line-height: 3rem;
    margin-top: 6rem;
    overflow: hidden;

}
.ftop{
    margin-top: 1.5rem;
}
img{
    display: inline;
    float: left;
    /*position: absolute;*/
    margin-top:0.22rem;


}

input{
    border: none;
    border-left: 0.1rem solid #EFF0F4;
    width: 14rem;
    font-size:2rem;
    padding: 1rem;
    margin-left: 1.5rem;
    outline: none;

}
.foot{
    background-color: #5FC0CD;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}
button{
    border: 0;
    padding: 1.5rem;
    background-color: #5FC0CD;
    color: white;
    width: 100%;
    font-size: 3rem;
    margin-top: 4rem;
}
p{
    float: right;
    color: #8BCDD7;
    margin-top: 1rem;
    font-size: medium;
}